body {
    background: #3c3f41;
    font-family: monospace;
    color: #d1d1d1;
    font-size: 14px;
    line-height: 1.3em;
    padding: 0;
    margin: 0;
}
#terminal {
    background: #2B2B2B;
    margin: 0 auto;
    padding: 3px;
    max-width: 81em;
    min-height: 20em;
    box-shadow: rgba(0, 0, 0, .6) 2px 2px 12px 2px;
}
#header::before {
    content: 'johmanx@kirito';
    padding-right: 8px;
    color: #a6b825;
    float: left;
}
#author::before {
    display: inline-block;
    content: '/home/';
    color: #4a92ec;
}
#author {
    color: #4a92ec;
    text-transform: lowercase;
}
#page::before {
    display: inline;
    content: "$ preach "
}
#date::before {
    display: inline;
    content: "("
}
#date::after {
    display: inline;
    content: ")"
}
p {
    margin: 0 0 1em;
}
p:last-child {
    margin: 0;
}
#content {
    padding-top: 1em;
}
