/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Open+Sans&display=optional');

:root {
    --line-height: 1.6em;
    --viewport-width: 80vw;
    --viewport-max-width: 1024px;
    --content-max-width: 908px;
    --logo-size: 160px;
    --body-border-color: #eee;

    --maker-bg: #426eb5;
    --maker-fg: #fff;

    --gamer-bg: #b73838;
    --gamer-fg: #fff;

    --weirdo-bg: #333;
    --weirdo-fg: #eee;

    --love-bg: #dc440f;
    --love-fg: #eee;

    --pets-bg: #0b5212;
    --pets-fg: #eee;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: var(--line-height);
}

body::before, body::after {
    display: block;
    content: "";
    position: fixed;
    top: 0;
    height: 100%;
    background: var(--body-border-color);
    width:
        calc(
            calc(
                100%
                - min(
                    var(--viewport-width),
                    var(--viewport-max-width)
                )
            )
            / 2
        );
}

body::before {
    left: 0;
}

body::after {
    right: 0;
}

* > p:not(:last-child) {
    padding-bottom: calc(var(--line-height) / 2);
}

body > * {
    margin: 0 auto;
    width: var(--viewport-width);
    max-width: var(--viewport-max-width);
}

#self-picture {
    display: block;
    position: absolute;
    width: var(--logo-size);
    height: var(--logo-size);
    top: calc(var(--line-height) * 2);
    right: var(--line-height);
    border-radius: calc(var(--logo-size) / 2);
    background: var(--body-border-color);
}

#self-picture img {
    border-radius: calc(var(--logo-size) / 2);
}

header > *, footer > * {
    margin: 0 calc(var(--line-height) * 2);
}

header, footer {
    padding: calc(var(--line-height) * 2) 0;
}

main > section {
    padding:
        var(--line-height)
        calc(var(--line-height) * 2)
        calc(var(--line-height) * 2);
}

main > section, header, footer {
    position: relative;
}

main > section::before,
main > section::after,
header::before,
header::after,
footer::before,
footer::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
}

main > section::before, header::before, footer::before {
    top: -1px;
    left: 0;
    border-right: calc(var(--line-height) * 2) solid transparent;
    border-top: calc(var(--line-height) * 2) solid #fff;
}

header::before {
    border-top-color: var(--body-border-color);
}

footer {
    text-align: center;
    font-size: 1.2em;
}

footer::before {
    border-top-color: var(--pets-bg);
}

main > section::after, header::after, footer::after {
    right: 0;
    bottom: -1px;
    border-left: calc(var(--line-height) * 2) solid transparent;
    border-bottom: calc(var(--line-height) * 2) solid #fff;
}

header::after {
    border-bottom-color: var(--maker-bg);
}

footer::after {
    border-bottom-color: var(--body-border-color);
}

a, a:visited {
    color: inherit;
}

dfn {
    text-decoration-line: underline;
    text-decoration-style: double;
    cursor: help;
}

h1, h2, h3, h4, h5 {
    font-family: 'Courier Prime', monospace;
    line-height: var(--line-height);
}

h1 {
    display: block;
    margin: 0 .5em;
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

h3 {
    text-align: center;
    margin-top: calc(var(--line-height) / 3);
    font-size: 3em;
}

dl {
    padding: var(--line-height);
    border: 6px dashed rgba(255, 255, 255, 0.3);
    border-radius: 6px;
}

dl dt {
    font-weight: bold;
}

dl dd {
    margin-left: calc(var(--line-height) * 2)
}

dl dd:not(:last-child) {
    margin-bottom: var(--line-height);
}

#maker {
    background: var(--maker-bg);
    color: var(--maker-fg);
}

#maker::after {
    border-bottom-color: var(--gamer-bg);
}

#gamer {
    background: var(--gamer-bg);
    color: var(--gamer-fg);
}

#gamer::before {
    border-top-color: var(--maker-bg)
}

#gamer::after {
    border-bottom-color: var(--weirdo-bg)
}

#weirdo {
    background: var(--weirdo-bg);
    color: var(--weirdo-fg);
}

#weirdo::before {
    border-top-color: var(--gamer-bg)
}

#weirdo::after {
    border-bottom-color: var(--love-bg)
}

#weirdo > h2 {
    float: left;
}

#weirdo > p:first-of-type {
    clear: both;
}

#weirdo > img:first-of-type {
    float: right;
    background: #fff;
    padding: calc(var(--line-height) / 2) var(--line-height);
    border-radius: var(--line-height);
    margin-bottom: var(--line-height);
}

#love {
    background: var(--love-bg);
    color: var(--love-fg);
}

#love::before {
    border-top-color: var(--weirdo-bg)
}

#love::after {
    border-bottom-color: var(--pets-bg)
}

#pets {
    background: var(--pets-bg);
    color: var(--pets-fg);
}

#pets::before {
    border-top-color: var(--love-bg)
}

.carousel, .carousel * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}

.carousel::-webkit-scrollbar, .carousel *::-webkit-scrollbar {
    width: 0;
}

.carousel::-webkit-scrollbar-track, .carousel *::-webkit-scrollbar-track {
    background: transparent;
}

.carousel::-webkit-scrollbar-thumb, .carousel *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

.carousel, .carousel * {
    -ms-overflow-style: none;
}

.carousel ol, .carousel ul, .carousel li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel > ol, .carousel ul {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    counter-reset: slides;
}

.carousel li {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background: rgba(255, 255, 255, .1);
    counter-increment: slides;
}

.carousel {
    margin: var(--line-height) 0;
    position: relative;
    padding-top: 70%;
    perspective: 100px;
    border-radius:
        calc(var(--line-height) * 2)
        calc(var(--line-height) * 2)
        0
        0;
    overflow: hidden;
    max-width: var(--content-max-width);
}

.carousel figure {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main > section figure > img {
    max-width: 100%;
}

.carousel figure:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

figure > figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    line-height: var(--line-height);
    padding: calc(var(--line-height) / 2);
    width: 100%;
    text-align: center;
}

.carousel figure:before {
    animation-name: toNext, snap;
    animation-timing-function: ease;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.carousel li:last-child figure:before {
    animation-name: toStart, snap;
}

@media (prefers-reduced-motion: reduce) {
    .carousel figure:before,
    .carousel li:last-child figure:before {
        animation-name: none;
    }
}

.carousel:hover figure:before,
.carousel:hover li:last-child figure:before,
.carousel:focus-within figure:before,
.carousel:focus-within li:last-child figure:before {
    animation-name: none;
}

@keyframes toNext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes toStart {
    74% {
        left: 0;
    }
    97% {
        /* No more than 10 slides back. */
        left: -1000%;
    }
    98% {
        left: -1000%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}
