@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Cutive+Mono";

body {
    background: url("background.jpg") no-repeat fixed top center;
    background-size: cover;
    font-family: 'Cutive Mono', monospace;
}
body>.container {
    background: rgba(255, 255, 255, .85);
    margin: 36px auto
}
.header>img {
    opacity: .65;
}
.header::before, .header small::before {
    display: inline-block;
    content: '/';
}
.header::before {
    float: left;
    font-size: 24px;
    margin-top: -6px
}
