{% extends 'base.html.twig' %}

{% block title %}Jan-Marten de Boer{% endblock %}

{% block body %}
<div>
    <h1>Jan-Marten de Boer</h1>

    {% if employments|length > 0 %}
        <h2>{{ 'heading.experience'|trans }}</h2>
        {% for employment in employments %}
            {{ component('employment', {employment: employment}) }}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
